@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import 'utils';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  color: $blue;
}

.force-hover:hover {
  cursor: pointer;
}

.navbar-avatar {
  width: 56px;
  height: auto;
}

#appWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.appContent {
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.appWhiteGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.appWhiteTopCover {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}