@import '../../../styles/utils';

.gtBtn {
  font-size: 1.125rem;
  padding: .75rem 1.25rem;
  background-color: $blue;
  border-radius: 1.625rem;
  border: none;
  color: $white;
  font-weight: 600;
  transition: background 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $blue-hover;
  }

  &:focus {
    outline: none;
  }
}

.default {
}

.gtBtn.btnBlock {
  display: block;
}

.link {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background: none;
  color: $blue;
}