@import '../../styles/utils';

.navbar {
  z-index: 99;
  background-color: $white;
  box-shadow: 0px 0px 30px rgba(13, 60, 105, 0.12), 0px 0px 8px rgba(13, 60, 105, 0.07);
  display: flex;
  flex-direction: column;
}

.navbarInner {
  padding: 20px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbarBrand {
  flex: 1;
  display: flex;
}

.navbarSearch {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbarProfileMenu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}