@import '../../../styles/utils';

.gt-input-field-wrapper {
  position: relative;
  display: block;
}

.gt-input-field-icon-verified {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  color: $green;
}

.gt-input-field {
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-radius: 1.625rem;
  padding: .75rem 1.25rem;
  text-align: center;
  border: 2px solid $border-grey;
  color: $blue;
  box-shadow: 0px 0px 0px rgba(21, 134, 240, 0);
  transition: 0.15s ease-in-out border, 0.15s ease-in-out color, 0.15s ease-in-out box-shadow;

  &::placeholder {
    color: $grey;
  }

  &.valid {
    color: $green;
    border-color: $green;
  }

  &:focus {
    border-color: $blue;
    box-shadow: 0px 0px 8px rgba(21, 134, 240, 0.25);
    outline: none;

    &::placeholder {
      color: transparent;
    }
    
    &.valid {
      border-color: $green;
      box-shadow: 0px 0px 8px rgba(25, 197, 10, 0.25);
    }
  }
}

.gt-input-field-wrapper + .gt-input-field-wrapper {
  margin-top: 1rem;
}