@import '../../styles/utils';

.gtSignIn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(180deg, #FFFFFF 45.51%, #E9F3FC 100%);

  h1 {
    margin-bottom: 2.5rem;
    text-align: center;
    display: block;

    span {
      display: inline-block;
      min-width: 10px;
    }
  }
}

.gtSignInHolder {
  max-width: 380px;
  width: 100%;
}

.gtSignInForm {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 2rem;
  background-color: $white;
  box-shadow: 0px 0px 30px rgba(13, 60, 105, 0.12), 0px 0px 8px rgba(13, 60, 105, 0.07);
  padding: 2.5rem 2rem;

  .gtBtn {
    margin-top: 1.5rem;
  }
}

.gtSignInImg {
  position: absolute;
  bottom: 0;
}

.gtSignUpText {
  color: $grey;
  text-align: center;
  margin-top: 2.5rem;
}