body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-group-validation-icon {
  position: relative;

  .fa-icon {
    position: absolute;
    top: 50%; right: 1rem;
    transform: translateY(-50%);
  }
}

.force-hover:hover {
  cursor: pointer;
}